<h2>Lista de Clientes</h2>
<a routerLink="/clientes/create" class="btn btn-primary">Crear Cliente</a>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Email</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of clients">
      <td>{{ client.id }}</td>
      <td>{{ client.nombre }}</td>
      <td>{{ client.email }}</td>
      <td>
        <button (click)="deleteClient(client.id)" class="btn btn-danger">Eliminar</button>
        <a [routerLink]="['/clientes/edit', client.id]" class="btn btn-warning">Editar</a>
      </td>
    </tr>
  </tbody>
</table>
