<h2>Editar Compra</h2>
<form (ngSubmit)="updatePurchase()">
  <label for="client_id">ID Cliente:</label>
  <input id="client_id" [(ngModel)]="purchase.client_id" name="client_id" required>
  
  <label for="product_id">ID Producto:</label>
  <input id="product_id" [(ngModel)]="purchase.product_id" name="product_id" required>
  
  <label for="cantidad">Cantidad:</label>
  <input id="cantidad" type="number" [(ngModel)]="purchase.cantidad" name="cantidad" required>
  
  <button type="submit">Actualizar</button>
</form>
